*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #d7d8db;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #10182f;

}
.container{
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.upperbox{
    border: 5px;
    background-color: #e2e2e2;
    width: 900px;
    height: 35px;
    border: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
}
.circle{
    height: 35px;
    display: flex;
    mix-blend-mode: darken;
    margin-left: 10px;
    margin-right: 10px;
}
.logo{
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    width: 300px;
    height: 550px;
    transition-duration: 2s;
}
.card:hover{
    width: 310px;
    height: 560px;
    background-color: rgb(235, 233, 233);
    transform: rotate(5deg);
    box-shadow: 0 2px 20px rgba(0,0,0,0.75);

}
.card-header img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: fill;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.card-body p{
    font-size: 12px;
}
.type{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.tag-ice{
    background-color: #66CCFF;
}
.tag-water{
    background-color: #3399FF;
}
.tag-ground{
    background-color: #DDBB55;
}
.tag-normal{
    background-color: #AAAA99;
}
.tag-fire{
    background-color: #FF4422;
}
.tag-flying{
    background-color: #8899FF;
}
.tag-grass{
    background-color: #78CC56;
}
.tag-poison{
    background-color: #AC5A9C;
}
.tag-dragon{
    background-color: #7766EE;
}
.tag-electric{
    background-color: #FFCC33;
}
.tag-psychic{
    background-color: #FF5599;
}
.stat{
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    background-color: rgb(207, 207, 207);
    height: 80px;
    border-radius: 20px;
    justify-content: left;
    align-content: center;
    font-size: 12px;
}
.tak{
    padding-right: 70px;
    margin-left: 15px;
    padding-left: 33px;
}
.tak b{
    margin-right: 50px;
}
.botcir{
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 95px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    mix-blend-mode: darken;
}
.botcir img{
    
    height: 30px;
    width: auto;
    padding: 2px;
    margin-top: 5px;
    margin-left: 8px;
    mix-blend-mode: darken;
}
